$color-1: #124967;
$color-2: #56a5ff;
* {
  box-sizing: border-box;
  font-family: "Baloo Chettan 2", sans-serif;
  user-select: none;
}

canvas{
  grid-row: 1;
  grid-column: 1;
  display: block;
  flex-grow: 1;
  max-width: 100%;
  z-index: 0;
}